In [1]:
import pandas as pd

In [2]:
data_set=pd.read_csv('C:/Users/rimon/Desktop/DEEP/ML_DEEP_DS_Algorithm/male female.csv')

In [3]:
data_set

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [4]:
from sklearn import tree

In [5]:
x=data_set.iloc[:,:-1]

In [6]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [9]:
y=data_set.iloc[:,-1]

In [10]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [11]:
model=tree.DecisionTreeClassifier()

In [12]:
model=model.fit(x,y)

In [13]:
model

DecisionTreeClassifier()

In [14]:
predection=model.predict([[163.83,84,41]])

In [15]:
predection

array(['male'], dtype=object)